
spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/fkream
    username: sa
    password:
    driver-class-name: org.h2.Driver

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace