<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.fkream.itemSizePrice.ItemSizePriceMapper">
    <resultMap id="ItemSizePriceResultMap" type="com.flab.fkream.itemSizePrice.ItemSizePrice">
        <id property="id" column="id"/>
        <result property="ItemId" column="item_id"/>
        <result property="size" column="size"/>
        <result property="lowestSellingPrice" column="lowest_selling_price"/>
        <result property="highestPurchasePrice" column="highest_purchase_price"/>
        <result property="modifiedAt" column="modified_at"/>
    </resultMap>


    <insert id="save" parameterType="com.flab.fkream.itemSizePrice.ItemSizePrice" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO item_size_price(item_id, size, lowest_selling_price, highest_purchase_price, modified_at)
        VALUES (#{ItemId},
                #{size},
                #{lowestSellingPrice},
                #{highestPurchasePrice},
                #{modifiedAt})
    </insert>

    <select id="findOne" resultMap="ItemSizePriceResultMap">
        select *
        from ITEM_SIZE_PRICE
        where ID = #{id}
    </select>

    <select id="findAll" resultMap="ItemSizePriceResultMap">
        select *
        from ITEM_SIZE_PRICE
    </select>
</mapper>