<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.fkream.itemImg.ItemImgMapper">
    <resultMap id="ItemImgResultMap" type="com.flab.fkream.itemImg.ItemImg">
        <id property="id" column="id"/>
        <result property="imgName" column="img_name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="originName" column="origin_name"/>
        <result property="isRepresentativeImg" column="is_representative_img"/>
        <result property="createdAt" column="created_at"/>
        <association property="item" javaType="com.flab.fkream.item.Item"
            resultMap="ItemResultMap"/>
    </resultMap>

    <resultMap id="ItemResultMap" type="com.flab.fkream.item.Item">
        <result property="id" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="modelNumber" column="model_number"/>
        <result property="category1" column="category1"/>
        <result property="category2" column="category2"/>
        <result property="releaseDate" column="release_date"/>
        <result property="representativeColor" column="representative_color"/>
        <result property="releasedPrice" column="released_price"/>
        <result property="latestPrice" column="latest_price"/>
        <result property="managerId" column="manager_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <association property="brand" javaType="com.flab.fkream.brand.Brand">
            <id property="id" column="id"/>
            <result property="brandName" column="brand_name"/>
            <result property="isLuxury" column="is_luxury"/>
        </association>
    </resultMap>


    <insert id="save" parameterType="com.flab.fkream.itemImg.ItemImg" useGeneratedKeys="true"
        keyProperty="id">
        insert into ITEM_IMG (ITEM_ID, IMG_NAME, IMG_URL, ORIGIN_NAME, is_representative_img,
                              CREATED_AT)
        VALUES (#{item.id}, #{imgName}, #{imgUrl}, #{originName}, #{isRepresentativeImg},
                #{createdAt});
    </insert>

    <select id="findImagesByItemId" resultMap="ItemImgResultMap">
        select *
        from ITEM_IMG
                 join ITEM
                      on ITEM_IMG.ITEM_ID = ITEM.ID
        where item.id = #{itemId}
    </select>

    <delete id="delete">
        delete
        from ITEM_IMG
        where id = #{id}
    </delete>
</mapper>