<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.fkream.manager.ManagerMapper">
    <resultMap id="ManagerResultMap" type="com.flab.fkream.manager.Manager">
        <id property="id" column="id"/>
        <result property="employeeNumber" column="employee_number"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="agreement" column="agreement"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
    </resultMap>


    <insert id="save" parameterType="com.flab.fkream.manager.Manager" useGeneratedKeys="true" keyProperty="id">
        insert into MANAGER (EMPLOYEE_NUMBER, PASSWORD, NAME, PHONE_NUMBER, AGREEMENT, CREATED_AT, MODIFIED_AT)
        VALUES ( #{employeeNumber}
               , #{password}
               , #{name}
               , #{phoneNumber}
               , #{agreement}
               , #{createdAt}
               , #{modifiedAt});
    </insert>

    <select id="findOne" resultMap="ManagerResultMap">
        SELECT *
        FROM MANAGER
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="ManagerResultMap">
        SELECT *
        FROM MANAGER
    </select>
</mapper>