<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.fkream.paymentCard.PaymentCardMapper">
    <insert id = 'save' useGeneratedKeys="true" keyProperty="id" parameterType="com.flab.fkream.paymentCard.PaymentCard">
        insert into payment_card (user_id, card_company, card_number, expiration, card_pw, created_at)
        values (#{users.id}, #{cardCompany}, #{cardNumber}, #{expiration},
                #{cardPw}, #{createdAt})
    </insert>
</mapper>