<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.fkream.salesAccount.SalesAccountMapper">
  <resultMap id="salesAccountMap" type="com.flab.fkream.salesAccount.SalesAccount">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="bank_name" property="bankName"/>
    <result column="account_number" property="accountNumber"/>
    <result column="account_holder" property="accountHolder"/>
    <result column="created_at" property="createdAt"/>
  </resultMap>


  <insert id="save" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.fkream.salesAccount.SalesAccount">
    insert into sales_account (user_id, bank_name, account_number, account_holder, created_at)
    values (#{userId}, #{bankName}, #{accountNumber}, #{accountHolder}, #{createdAt})
  </insert>

  <select id="findByUserId" resultMap="salesAccountMap">
    select *
    from SALES_ACCOUNT
    WHERE USER_ID = #{userId}
  </select>


  <select id="findAll" resultMap="salesAccountMap">
    select *
    from SALES_ACCOUNT
  </select>

  <update id="update">
    UPDATE sales_account
    SET user_id        = #{userId},
        bank_name      = #{bankName},
        account_number = #{accountNumber},
        account_holder = #{accountHolder},
        created_at     = #{createdAt}
    WHERE id = #{id}
  </update>

  <delete id="deleteByUserId">
    DELETE
    FROM sales_account
    WHERE USER_ID = #{userId}
  </delete>
</mapper>